

.list-area {
    background-color: white;
     padding: 1em;
     border: 0.5px solid #e0e0e0;
     border-radius: 0.5em;
     margin: 1em 0;
  }

ul {
    padding: 0;
    margin: 2em 0;
}

li {
    list-style-type: none;
}

.list-checked {
    text-decoration: line-through;
}

.list-unchecked {
    text-decoration: none;
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    height: 40px;
    border-bottom: solid 0.5px #ccc;
}
.list-item span {
    display: inline-block;
    width: 400px;
    margin: 0 8px;
}

.round-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-checkbox img {
    width: 1.1em;
    height: 1.1em;
}

.liftup-btn {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.liftup-btn img {
    width: 1.4em;
    height: 1.4em;
}
.container-complete-header {
    display: flex;
    align-items: center;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
}

.container-complete-header-num {
    margin-left: 10px;
    color: grey
}
